.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#art-block {
  background-color: rgba(255, 124, 13, 0.68);
  vertical-align: center;
  horiz-align: center;
  height: fit-content;
  padding-bottom: 15px;
}
#about-block {
  padding-top: 30px;
  background-color: rgba(255, 124, 13, 0.43);
  height: fit-content;
  padding-bottom: 15px;
}
#tagline {
  font-family: "Segoe UI Light";
  font-size: 36px;
  vertical-align: center;
  horiz-align: center;
  color: white;
  
}

#info-block {
  background-color: rgba(205, 205, 205, 0.35);
  height: fit-content;
  padding-bottom: 15px;

}

#project-block {
  background-color: rgba(102, 153, 255, 0);
  height: fit-content;
}

#contact-block {
  background-color: rgba(0, 0, 0, 0.96);
  height: fit-content;
}

.white {
  color: white;
}

.center {
  margin: 0 auto;
}

.sub-heading {
  font-family: "Segoe UI";
}

.typist {
  font-size: 36pt;
  font-family: Bahnschrift, monospace;
  color: white;
  vertical-align: center;
  horiz-align: center;
}

.middle {
  font-size: 42pt;
  font-family: "Segoe UI";
  color: white;
  line-height: 250px;
}

html body {
  font-family: "Segoe UI";
  font-size: 14pt;
}



.font {
  font-family: "Segoe UI";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
